.roomItem {
  aspect-ratio: 16/9;
  overflow: hidden;
  position: relative;
}


.imgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 16/9;
  z-index: -1;
}

.imgOverlay img {
  width: 100%;
  aspect-ratio: 16/9;
}

.roomDescription {
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  color: #FFF;
}

.roomDescription div {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

@media (min-width: 720px) {
  .roomDescription div {
    flex-wrap: nowrap;
  }
}

.roomDescription div a {
  display: inline-block;
  padding: 12px 10px;
  background-color: #386c64;
  text-decoration: none;
  color: #FFF;
  flex-shrink: 0;
  transition: all 150ms linear;
  opacity: 0.8;
}
.roomDescription div a:hover {
  background-color: #224f48;
  opacity: 1;
}

.roomTitle {
  font-size: 22px;
  color: #386c64;
  text-shadow: -1px -1px 0 #FFF,  
               1px -1px 0 #FFF,
              -1px  1px 0 #FFF,
               1px  1px 0 #FFF;
}