.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
  }
  
  .textCenter {
    text-align: center;
    margin-bottom: 32px;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #1a202c;
  }
  
  .subtitle {
    color: #718096;
    margin-top: 8px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .textBox {
    background-color: #ffffff;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 10;
    margin-top: 32px; /* Adjusted to move the card down */
    margin-right: -16px;
    position: relative;
  }
  
  .heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2d3748;
    margin-bottom: 16px;
  }
  
  .highlight {
    color: #38a169;
  }
  
  .text {
    color: #718096;
    margin-bottom: 16px;
  }
  
  .imageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }
  
  .image {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    width: 400px;
    height: 250px;
  }
  
  @media (min-width: 768px) {
    .content {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .textBox {
      width: 50%;
      margin-top: 32px; /* Adjusted to move the card down */
      margin-right: -32px;
    }
  
    .imageBox {
      width: 50%;
      margin-top: 0;
      top: -32px; /* Adjusted to move the images up */
    }
  }
