
.formButton {
  background-color: #386c64;
  color: #fff;
  border: none;
  outline: none;
  display: inline-block;
  width: 100%;
  /* height: 100%; */
  cursor: pointer;
  transition: all 300ms linear;
  padding: 40px;
}

.formButton:not(:disabled):hover {
  background-color: #1d4f47;
}

.formButton:disabled {
  background-color: #386c64;
  cursor: not-allowed;
}