.sendBtn {
  padding: 12px 64px;
  color: #fff;
  background-color: #3D767D;
  transition: all 150ms linear;
  border-radius: 4px;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: #1a494f;
}

.sendBtn:disabled {
  background-color: #929292;
  cursor: not-allowed;
}