.villaCard {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .villaCard {
      flex-direction: column;
    }
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  
  .villaImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }
  
  .villaDetails {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .villaDetails h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .villaDetails p {
    margin-bottom: 5px;
  }
  
  .iconText {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .icon {
    margin-right: 10px;
  }

  .descSize {
    margin-bottom: 5px;
  }