.aboutSection {
  padding: 60px 0px;
  background-color: #fff;
}

@media (min-width: 720px) {
  .aboutContainer {
    display: flex;
    justify-content: space-between;
    gap: 56px;
  }
}

.aboutContainer p {
  text-align: justify;
  font-size: 16px;
  color: black;
}

.gallery {
  width: 100%;
}

.gallery div {
  position: relative;
  aspect-ratio: 16/9;
}

@media (min-width: 720px) {
  .gallery {
    width: 55%;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.gallery img {
  width: 100%;
  aspect-ratio: 16/9;
}

.aboutButton {
  background-color: #3D767D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.aboutButton:hover {
  background-color: #326c65;
}

/* Center "About Us" on mobile */
@media (max-width: 719px) {
  .aboutContainer {
    text-align: center; /* Center the content */
  }
  
  .aboutContainer p {
    text-align: center; /* Center the paragraph on mobile */
  }
  
  .aboutButton {
    margin-bottom: 20px; /* Add margin below the button on mobile */
  }
}
