.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
  }
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formGroup input,
  .formGroup select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .formGroup input[readonly] {
    background-color: #e9ecef;
  }
  
  .currency {
    position: relative;
  }
  
  .currency input {
    padding-left: 30px;
  }
  
  .currency::before {
    content: 'Rp';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
  }
  
  .formGroup button {
    width: 100%;
    padding: 10px;
    background-color: #386c64;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .formGroup button:hover {
    background-color: #15433c;
  }

  .heading{
    text-align: center;
  }