.formButton {
  padding: 16px 48px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #386c64;
  font-size: 17px;
  margin-bottom: 20px;
  display: inline-block;
  cursor: pointer;
  transition: all 150ms linear;
}


.formButton:not(:disabled):hover {
  background-color: #21564e;
}

.formButton:disabled {
  background-color: #6bdfcd;
  cursor: not-allowed;
}

