.container {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.overlay {
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 128px;
  padding: 24px;
  color: white;
}

.heroTitle {
  max-width: 800px;
  text-align: center;
}

.heroTitle h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.heroTitle p {
  font-size: 1.125rem;
  margin-bottom: 24px;
}

.heroCTA {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  display: block;
  background-color: #3D767D;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 16px 24px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgba(61, 118, 125, 0.8);
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .heroTitle {
    text-align: start;
  }

  .heroCTA {
    flex-direction: column;
    gap: 24px;
  }
}