.roomsSection {
  padding: 60px 0px;
  background-color: #F1F1F1;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomsGrid {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 40px;
}

.navButton {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: #555;
}

.navButton:disabled,
.navButton.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.navButton svg {
  font-size: 20px;
}

@media (min-width: 768px) {
  .roomsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}